{% extends "index.html" %}

{% block title %}마이페이지 | 이화마켓{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/mypage.css">
{% endblock %}

{% block section %}
    <main class="main-content container">
        
        <div class="card profile">
            <label for="profile-img-upload" class="my-img-area">
                <div class="my-img"></div>
                <span class="change-photo-text">사진<br>변경</span>
            </label>
            <input type="file" id="profile-img-upload" accept="image/*" style="display: none;">

            <h3 class="my-name">hajin</h3>
            <p class="seller-info">
                <span class="product-state" id="available">판매 중 3</span>
                <span class="product-state" id="sold">판매 완료 1</span>
            </p>

            <button class="btn btn-green btn-full">개인정보 변경</button>
            <button class="btn btn-white btn-full">로그아웃</button>
            <a href="#" class="link-withdraw">회원 탈퇴</a>
        </div>

        <div class="activity-section">
            <div class="category-filter mypage-tabs">
                <button class="btn-pill btn-pill-active">내 판매 상품</button>
                <button class="btn-pill btn-pill-inactive">내 구매 상품</button>
            </div>

            <div class="product-grid">
                
                <div class="product-card">
                    <div class="product-card-image"></div>
                    <div class="product-card-content">
                        <span class="tag-status tag-status-great">상태 최상</span>
                        <h3 class="product-title">점프 투 파이썬 팝니다</h3>
                        <div><span class="tag-info">#학관</span><span class="tag-info">#직거래</span></div>
                        <div class="product-meta-row">
                            <p class="product-price">12,000원</p>
                            <div class="like-info">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="like-icon">
                                    <use href="#icon-heart"></use>
                                </svg>
                                <span>5</span>
                            </div>
                        </div>
                        <div class="manage-buttons">
                            <button class="btn-text-small">수정</button> |
                            <button class="btn-text-small">삭제</button> |
                            <button class="btn-text-small btn-green-text">거래 상태 변경</button>
                        </div>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-card-image"></div>
                    <div class="product-card-content">
                        <span class="tag-status tag-status-used">사용감 있음</span>
                        <h3 class="product-title">이화상점 텀블러</h3>
                        <div><span class="tag-info">#ECC</span><span class="tag-info">#직거래</span></div>
                        <div class="product-meta-row">
                            <p class="product-price">5,000원</p>
                            <div class="like-info">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="like-icon">
                                    <use href="#icon-heart"></use>
                                </svg>
                                <span>1</span>
                            </div>
                        </div>
                        <div class="manage-buttons">
                            <button class="btn-text-small">수정</button> |
                            <button class="btn-text-small">삭제</button> |
                            <button class="btn-text-small btn-green-text">거래 상태 변경</button>
                        </div>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-card-image"></div>
                    <div class="product-card-content">
                        <span class="tag-status tag-status-great">상태 최상</span>
                        <h3 class="product-title">갤럭시 버즈3 화이트</h3>
                        <div><span class="tag-info">#택배</span></div>
                        <div class="product-meta-row">
                            <p class="product-price">80,000원</p>
                            <div class="like-info">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="like-icon">
                                    <use href="#icon-heart"></use>
                                </svg>
                                <span>8</span>
                            </div>
                        </div>
                        <div class="manage-buttons">
                            <button class="btn-text-small">수정</button> |
                            <button class="btn-text-small">삭제</button> |
                            <button class="btn-text-small btn-green-text">거래 상태 변경</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination-list">
                        <li><a href="#" aria-current="page" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
{% endblock %}